schematrons/include/jeuxDeValeurs/CANCER-PPS_2021.01/JDV_Addictions-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_Addictions-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_Addictions-CISIS"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/entry/act/entryRelationship/observation/value"/>
    <param name="xpath_elt" value="/cda:ClinicalDocument/cda:component/cda:structuredBody/cda:component/cda:section/cda:entry/cda:observation[(cda:code/@code='F-8A050')]/cda:value"/>
    <param name="nullFlavor" value="0"/>
</pattern>   
