schematrons/include/jeuxDeValeurs/CANCER-PPS_2021.01/JDV_TypeTraitementPPS-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_TypeTraitementPPS-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_TypeTraitementPPS-CISIS"/>
    <param name="vue_elt" value="'procedure/code/qualifier/value'"/>
    <param name="xpath_elt" value="cda:procedure[(cda:code/@code='MED-568')]/cda:code/cda:qualifier/cda:value"/>
    <param name="nullFlavor" value="0"/>
</pattern>   
