schematrons/include/jeuxDeValeurs/CANCER-PPS_2021.01/JDV_MotifMiseAJour-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_MotifMiseAJour-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_MotifMiseAJour-CISIS"/>
    <param name="vue_elt" value="'observation/value'"/>
    <param name="xpath_elt" value="cda:observation[(cda:code/@code='GEN-037')]/cda:value"/>
    <param name="nullFlavor" value="0"/>
</pattern>   
