schematrons/include/jeuxDeValeurs/CANCER-PPS_2021.01/JDV_StructuresDeSoins-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_StructuresDeSoins-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_StructuresDeSoins-CISIS"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/entry/act/entryRelationship/observation/value"/>
    <param name="xpath_elt" value="/cda:ClinicalDocument/cda:component/cda:structuredBody/cda:component/cda:section[(cda:code/@code='48767-8')]/cda:entry/cda:observation/cda:code"/>
    <param name="nullFlavor" value="0"/>
</pattern>
