schematrons/include/jeuxDeValeurs/CANCER-FRCP_2021.01/JDV_TraitementSoinsRCP-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    JDV_TraitementSoins-CISIS.sch :
    Contenu :

    Paramètres d'appel :
        Néant 
    Historique :
        27/06/11 : CRI ASIP/PRAS : Création
        14/10/19 : NMA : Mise à jour du nom du schématron, de l'id, de la variable et du titre
-->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_TraitementSoinsRCP-CISIS" is-a="dansJeuDeValeurs">
    <p>Conformité Traitement soins</p>
    <param name="path_jdv" value="$JDV_TraitementSoinsRCP-CISIS"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/entry/observation/entryRelationship/observation/value"/>
    <param name="xpath_elt" value="/cda:ClinicalDocument/cda:component/cda:structuredBody/cda:component/cda:section[cda:templateId/@root='1.3.6.1.4.1.19376.1.5.3.1.3.2']/cda:entry/cda:observation[cda:value/@code='ORG-132']/cda:entryRelationship/cda:observation[cda:code/@code='ORG-138']/cda:value"/>
    <param name="nullFlavor" value="1"/>
</pattern>   

