schematrons/include/jeuxDeValeurs/CR-BIO_2021.01/JDV_BIO_Interpretation-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_BIO_Interpretation-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_BIO_Interpretation-CISIS"/>
    <param name="vue_elt" value="observation/interpretationCode"/>
    <param name="xpath_elt" value="cda:observation/cda:interpretationCode"/>
    <param name="nullFlavor" value="0"/>
</pattern> 