schematrons/include/jeuxDeValeurs/ANEST-CR-ANEST_2021.01/JDV_Difficulte-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_Difficulte-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_Difficulte-CISIS"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/entry/procedure/entryRelationship/observation/value"/>
    <param name="xpath_elt" value="cda:observation[cda:templateId/@root='1.3.6.1.4.1.19376.1.5.3.1.4.13' and cda:code/@code='GEN-023']/cda:value"/>
    <param name="nullFlavor" value="0"/>
</pattern>  

