schematrons/include/jeuxDeValeurs/ANEST-CR-ANEST_2021.01/JDV_TypeDM-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_TypeDM-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_TypeDM-CISIS"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/entry/procedure/entryRelationship/act/code"/>
    <param name="xpath_elt" value="cda:procedure[cda:templateId/@root='1.3.6.1.4.1.19376.1.5.3.1.4.19' and cda:code='MED-885']/cda:entryRelationship/cda:act/cda:code"/>
    <param name="nullFlavor" value="0"/>
</pattern>  

