schematrons/include/jeuxDeValeurs/ANEST-CR-ANEST_2021.01/JDV_TypeIntubation-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_TypeIntubation-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_TypeIntubation-CISIS"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/entry/procedure/targetSiteCode"/>
    <param name="xpath_elt" value="cda:procedure[cda:templateId/@root='1.3.6.1.4.1.19376.1.5.3.1.4.19' and cda:code/@code='GELD004']/cda:targetSiteCode"/>
    <param name="nullFlavor" value="0"/>
</pattern>   