schematrons/include/jeuxDeValeurs/OPH-BRE_2021.01/JDV_Lateralite-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_Lateralite-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_Lateralite-CISIS"/>    
    <param name="vue_elt" value="/ClinicalDocument/component/structuredBody/component/section/component/section/component/section/entry/organizer/component/observation/targetSiteCode/qualifier/value"/>
    <param name="xpath_elt" value="cda:observation[cda:templateId/@root='1.3.6.1.4.1.19376.1.12.1.3.9']/cda:targetSiteCode/cda:qualifier/cda:value"/>
    <param name="nullFlavor" value="0"/>
</pattern>  

