schematrons/include/jeuxDeValeurs/OPH-BRE_2021.01/JDV_MotifConsultationOphtalmologiqueEntete-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_MotifConsultationOphtalmologiqueEntete-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$jdv_MotifConsultationOphtalmologique-CISIS"/>
    <param name="vue_elt" value="/ClinicalDocument/documentationOf/serviceEvent/code"/>
    <param name="xpath_elt" value="cda:ClinicalDocument/cda:documentationOf/cda:serviceEvent/cda:code"/>
    <param name="nullFlavor" value="1"/>
</pattern>

