schematrons/include/jeuxDeValeurs/OPH-BRE_2021.01/JDV_TypeDeDistanceDeVisualisation-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_TypeDeDistanceDeVisualisation-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$jdv_TypeDeDistanceDeVisualisation-CISIS"/>
    <param name="vue_elt" value="/ClinicalDocument/component/structuredBody/component/section/component/section/component/section/entry/organizer/code/qualifier/value"/>
    <param name="xpath_elt" value="cda:organizer[cda:templateId/@root='1.3.6.1.4.1.19376.1.12.1.3.2']/cda:code[@code='MED-973']/cda:qualifier[cda:name/@code='MED-1054']/cda:value"/>
    <param name="nullFlavor" value="1"/>
</pattern>