schematrons/include/jeuxDeValeurs/SDM-MR_2021.01/JDV_MalformationAntenatale_SDMMR.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_MalformationAntenatale_SDMMR" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$jdv_MalformationAntenatale"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/component/section/entry/observation/value"/>
    <param name="xpath_elt" value="/cda:ClinicalDocument/cda:component/cda:structuredBody/cda:component/cda:section/cda:component/cda:section/cda:entry/cda:observation[cda:code/@code='MED-078']/cda:value"/>
    <param name="nullFlavor" value="0"/>
</pattern>   
