schematrons/include/jeuxDeValeurs/CANCER-D2LM-FIN_2021.01/JDV_Classification_ACR-CISIS_2.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_Classification_ACR-CISIS_2" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_Classification_ACR-CISIS_2"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/component/section/entry/observation/entryRelationship/observation/code/qualifier/value"/>
    <param name="xpath_elt" value="cda:observation[cda:templateId/@root='1.3.6.1.4.1.19376.1.5.3.1.4.13' and cda:code/@code='MED-122']/cda:code/cda:qualifier[cda:name/@code='MED-128']/cda:value"/>
    <param name="nullFlavor" value="0"/>
</pattern> 


