schematrons/include/jeuxDeValeurs/CANCER-D2LM-FIN_2021.01/JDV_TypeMammographie-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_TypeMammographie-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_TypeMammographie-CISIS"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/component/section/text/content"/>
    <param name="xpath_elt" value="/cda:ClinicalDocument/cda:component/cda:structuredBody/cda:component/cda:section/cda:component/cda:section/cda:text/cda:content[@ID='TypeMammo']"/>
    <param name="nullFlavor" value="0"/>
</pattern>   
