schematrons/include/jeuxDeValeurs/CANCER-D2LM-FIN_2021.01/JDV_MotifEchographie-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_MotifEchographie-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_MotifEchographie-CISIS"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/component/section/entry/observation/value"/>
    <param name="xpath_elt" value="/cda:ClinicalDocument/cda:component/cda:structuredBody/cda:component/cda:section/cda:component/cda:section/cda:entry/cda:observation[cda:code/@code='P5-B0000']/cda:value"/>
    <param name="nullFlavor" value="0"/>
</pattern>   
