schematrons/include/jeuxDeValeurs/CANCER-D2LM-FIN_2021.01/JDV_MotifDiagnostic-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_MotifDiagnostic-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_MotifDiagnostic-CISIS"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/sectioncomponent/section/entry/observation/value"/>
    <param name="xpath_elt" value="cda:observation[cda:templateId/@root='1.3.6.1.4.1.19376.1.5.3.1.1.20.3.1' and cda:code/@code='MED-013']/cda:value"/>
    <param name="nullFlavor" value="0"/>
</pattern>   
