infrastructure/cda/COCT_MT150003UV03.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3"
           xmlns:ex="urn:hl7-org/v3-example"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type COCT_MT150003UV03.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* Saved in XML file by RMIM Designer in Visio at 2008-04-29T12:27:15
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8360 2009-10-26 06:00:22Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Generated by XMLITS version 3.4.3
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8419 2010-11-15 00:10:54Z woody_beeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	   -->
  <xs:annotation>
    <xs:documentation>Generated using schema builder version 3.4.3. Stylesheets: Saved in XML file by RMIM Designer in Visio at 2008-04-29T12:27:15 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $ Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $ Base transform: $Id: ConvertBase.xsl 8360 2009-10-26 06:00:22Z woody_beeler $ Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $ Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $ StaticMifToXsd.xsl version 2.0</xs:documentation>
  </xs:annotation>
  <xs:include schemaLocation="infrastructureRoot.xsd"/>
  <xs:complexType name="COCT_MT150003UV03.ContactParty">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements"/>
      <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
      <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="contactPerson" type="COCT_MT150003UV03.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes"/>
    <!--<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>-->
    <xs:attribute name="classCode" type="RoleClassContact" use="required"/>
  </xs:complexType>
  <xs:complexType name="COCT_MT150003UV03.Organization">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements"/>
      <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
      <xs:element name="name" type="ON" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="contactParty" type="COCT_MT150003UV03.ContactParty" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes"/>
    <xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
    <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
  </xs:complexType>
  <xs:complexType name="COCT_MT150003UV03.Person">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements"/>
      <xs:element name="name" type="EN" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes"/>
    <!--<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>-->
    <xs:attribute name="classCode" type="EntityClassPerson" use="required"/>
    <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
  </xs:complexType>
</xs:schema>