schematrons/include/jeuxDeValeurs/DLU-FLUDR_2021.01/JDV_ProtheseObjetPersonnel-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_ProtheseObjetPersonnel-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_ProtheseObjetPersonnel-CISIS"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/entry/observation/code"/>
    <param name="xpath_elt" value="cda:section[cda:templateId/@root='1.2.250.1.213.1.1.2.53']/cda:entry/cda:observation[cda:templateId/@root='1.3.6.1.4.1.19376.1.5.3.1.4.13']/cda:code"/>
    <param name="nullFlavor" value="0"/>
</pattern> 