schematrons/include/jeuxDeValeurs/CANCER-DL2M-FIDD_2021.01/JDV_ConduiteATenir_2-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_ConduiteATenir_2-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_ConduiteATenir_2-CISIS"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/entry/observation/value"/>
    <param name="xpath_elt" value="cda:observation[cda:templateId/@root='1.3.6.1.4.1.19376.1.5.3.1.1.20.3.1' and cda:code/@code='GEN-007']/cda:value"/>
    <param name="nullFlavor" value="0"/>
</pattern>   
