schematrons/include/jeuxDeValeurs/CANCER-CR-GM_2021.01/JDV_Conditionnement-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_Conditionnement-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_Conditionnement-CISIS"/>
    <param name="vue_elt"
        value="ClinicalDocument/component/structuredBody/component/section/entry/organizer/component/observation/value"/>
    <param name="xpath_elt"
        value="/cda:ClinicalDocument/cda:component/cda:structuredBody/cda:component/cda:section/cda:entry/cda:organizer/cda:component/cda:observation[cda:code/@code='
        19772-3']/cda:value"/>
    <param name="nullFlavor" value="0"/>
</pattern>
