schematrons/include/jeuxDeValeurs/CANCER-CR-GM_2021.01/JDV_TypeResultat-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_TypeResultat-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_TypeResultat-CISIS"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/entry/organizer/code/qualifier/value"/>
    <param name="xpath_elt" value="/cda:ClinicalDocument/cda:component/cda:structuredBody/cda:component/cda:section/cda:entry/cda:organizer/cda:code/cda:qualifier[cda:name/@code='MED-152']/cda:value"/>
    <param name="nullFlavor" value="0"/>
</pattern>
