schematrons/include/jeuxDeValeurs/CANCER-CR-GM_2021.01/JDV_MethodePreparationEchantillon-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_MethodePreparationEchantillon-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_MethodePreparationEchantillon-CISIS"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/entry/organizer/component/observation/value"/>
    <param name="xpath_elt" value="/cda:ClinicalDocument/cda:component/cda:structuredBody/cda:component/cda:section/cda:entry/cda:organizer/cda:component/cda:observation[cda:code/@code='8100-0']/cda:value"/>
    <param name="nullFlavor" value="0"/>
</pattern>
